// Bootstrap
$info:          #cc544b;
$primary:       #73bec0;
// $btn-color:     #d5716a;
$btn-color:     #d98079;


// Odoo
$o-community-color: $primary;
$o-enterprise-color: $info;
$o-enterprise-primary-color:$info;

$o-brand-odoo: $o-community-color;
$o-brand-primary: $o-community-color;

$font-family-sans-serif: 'Lato-Reg';
$font-family-base: $font-family-sans-serif;

//Other
