.o_wslides_js_lesson_ora odoo-wysiwyg-container {
    width: 100%;
    display: block;
}

.o_wslides_js_lesson_ora .o_wslides_js_lesson_quiz_question p {
    margin-bottom: 0;
}

.o_wslides_js_lesson_ora .o_wysiwyg_wrapper {
    width: 100%;
}

#wrapwrap table.table.table-bordered td, .o_editable table.table.table-bordered td {
	min-width: 120px;
}

@media (max-width: 575px) {
    .tableBox {
        width: 300px;
    }
}