<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <record model="ir.actions.server" id="asterisk_settings_action">
      <field name="type">ir.actions.server</field>
      <field name="name">General Settings</field>
      <field name="state">code</field>
      <field name="model_id" ref="model_asterisk_common_settings"/>
      <field name="code">action = model.open_settings_form()</field>
  </record>

  <menuitem id="settings_menu" parent="asterisk_common.asterisk_settings_menu"
      groups="asterisk_common.group_asterisk_admin"
      action="asterisk_settings_action" name="General" sequence="70"/>

  <record id='asterisk_settings_form' model='ir.ui.view'>
      <field name='name'>asterisk_common.settings.form</field>
      <field name='model'>asterisk_common.settings</field>
      <field name='type'>form</field>
      <field name='arch' type='xml'>
        <form create="false" delete="false">
            <sheet>
              <notebook>
                <page name="originate" string="Common">
                  <group>
                    <group name="originate" string="Originate Parameters">
                      <field name="originate_context"/>
                      <field name="originate_strip_plus"/>
                      <field name="originate_format"/>
                      <field name="originate_prefix"/>
                      <field name="originate_timeout"/>
                      <field name="originate_partner_callerid"/>
                      <button class="oe_read_only btn btn-info" name="reformat_numbers"
                        type="object" string="Re-format Partner Numbers"/>
                    </group>
                    <group>
                      <field placeholder="IP addresses by comma..."
                        name="permit_ip_addresses"/>
                    </group>
                  </group>
                </page>
              </notebook>
            </sheet>
        </form>
      </field>
  </record>

</odoo>
